header {
    opacity: 100%;
    animation-name: opacidade;
    animation-duration: 1.5s;
}

section, .info, .gallery {
    opacity: 100%;
    animation-name: opacidade;
    animation-duration: 3s;
}

article, .map-container {
    opacity: 100%;
    animation-name: opacidade;
    animation-duration: 3s;
}

footer {
    opacity: 100%;
    animation-name: opacidade;
    animation-duration: 4s;
}

@keyframes opacidade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}