* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    margin: auto;
    width: 100%;
    text-align: center;
    min-height: 100vh;
}

body {
    height: 100%;
    font-size: 1.8rem;
    background-image: linear-gradient(to top, #F1F1F1, #FCFCFF);
    font-family: 'Barlow', sans-serif;
}

@media (min-width: 760px) {
    
    body {
        background-image: linear-gradient(to left, #F1F1F1, #FCFCFF)
    }

}

